name: Release

on:
  push:
    branches: [master, develop]

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  release:
    name: Release
    if: (
      github.repository_owner == 'pvtnbr' && github.ref_name =='develop'
      ) || (
      github.repository_owner == 'privatenumber' && github.ref_name =='master'
      )
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Use Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: .nvmrc

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          run_install: true

      - name: Prerelease to GitHub
        if: github.repository_owner == 'pvtnbr'
        run: |
          git remote add public https://github.com/$(echo $GITHUB_REPOSITORY | sed "s/^pvtnbr/privatenumber/")
          git fetch public master 'refs/tags/*:refs/tags/*'
          git push --force --tags origin refs/remotes/public/master:refs/heads/master

          jq '
              .publishConfig.registry = "https://npm.pkg.github.com"
            | .name = ("@" + env.GITHUB_REPOSITORY_OWNER + "/" + .name)
            | .repository = env.GITHUB_REPOSITORY
            | .release.branches = [
                "master",
                { name: "develop", prerelease: "rc", channel: "latest" }
              ]
            ' package.json > _package.json
          mv _package.json package.json

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: pnpm dlx semantic-release
